:root {
  font-family: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 80%;
  height: 100vh;
  max-width: 90vw;
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
}
.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
.logo-img {
  font-size: 40px;
}
.logo-text {
  font-size: 30px;
  font-weight: 300;
  color: #000;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  align-items: center;
  gap: 5px;
}
.position-abs {
  position: absolute;
  color: #3e4abe;
  font-size: 10px;
  top: 87px;
  left: 485px;
}
.sign {
  display: flex;
  gap: 30px;
  align-items: center;
}
.sign-up {
  color: #fff;
  background-color: #3e4abe;
  padding: 10px 20px;
  border-radius: 10px;
}
.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 40px;
}
.content-left {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 40px;
}
.content-left-heading p:first-child {
  margin-bottom: 10px;
}
.content-boxes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.content-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.content-box-img {
  font-size: 30px;
  color: #3e4abe;
}
.content-box-text {
  background-color: #3e4abe;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
}
.content-box-text p:first-child {
  margin-bottom: 5px;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 100px;
  margin-top: 60px;
}
.card {
  display: flex;
  gap: 20px;
  width: 40%;
  max-width: 400px;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 11px 0px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: 3px 3px 11px 0px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 3px 3px 11px 0px rgba(0, 0, 0, 0.33);
}
.card-img {
  font-size: 50px;
  padding: 10px 20px;
  border: 1px dashed #000;
  border-radius: 50%;
}
.card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.card-title {
  font-size: 20px;
  font-weight: 500;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  height: 20px;
  background-color: #3e4abe;
  padding: 40px 0;
  color: #fff;
  gap: 40px;
}
.user {
  display: flex;
  align-items: center;
  gap: 10px;
}
.user-git {
  display: flex;
  align-items: center;
  gap: 10px;
}
a:link,
a:visited,
a {
  text-decoration: none;
  color: #fff;
}
.box-shadow {
  box-shadow: 3px 3px 11px 0px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: 3px 3px 11px 0px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 3px 3px 11px 0px rgba(0, 0, 0, 0.33);
}
.oppacity {
  opacity: 0.4;
}
.bg-color-white {
  background-color: #fff;
  color: #000;
}
.fs-15 {
  font-size: 15px;
}
.fs-20 {
  font-size: 20px;
}
.fs-40 {
  font-size: 40px;
}
.fs-60 {
  font-size: 60px;
}
.fw-bold {
  font-weight: bold;
}
.fw-500 {
  font-weight: 500;
}
